<launch>
   
  <arg name="arm_ns" default="/"/>
  <arg name="robot_ip" default="172.16.17.2"/>
  <arg name="arm_type" default="ur10e"/>
  <arg name="transporter_placement" default="right"/>


  <include file="$(find ur_modern_driver)/launch/$(arg arm_type)_bringup.launch">
  	<arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  	<arg name="filters" value="pointcloud"/>
  </include>
 
  <include file="$(find robot_arm_workcell_manager)/launch/robot_arm_workcell_manager.launch">
  	<!--<arg name="transporter_placement" value="$(arg transporter_placement)"/> -->
	<arg name="dispenser_name" value="ur10e_001"/>
  </include>

  <include file="$(find robot_arm_workcell_manager)/launch/demo.launch">
  	<arg name="arm_type" value="$(arg arm_type)"/>
	<arg name="sim"                           value="false"/>
	<arg name="enable_fake_joints_execution"  value="false"/>
	
    <!--<remap from="/image/compressed" to="/camera/color/image_raw/compressed"/> 
    <remap from="/camera_info" to="/camera/color/camera_info"/>
  -->
  </include>

</launch>
