<launch>
   
  <arg name="arm_ns" default="/"/>
  <arg name="robot_ip" default="192.168.88.33"/>
  <arg name="arm_type" default="ur10e"/>
  <arg name="transporter_placement" default="right"/>

  <include file="$(find ur_modern_driver)/launch/ur10e_bringup.launch">
  	<arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <include file="$(find robot_arm_workcell_manager)/launch/demo.launch">
  	<arg name="arm_type" value="$(arg arm_type)"/>
	<arg name="sim"                           value="false"/>
	<arg name="enable_fake_joints_execution"  value="false"/>
  </include>

  <include file="$(find realsense2_camera)/lauch/rs_camera.launch">
  	<arg name="filters" value="pointcloud"/>
  </include>
  
  <include file="$(find robot_arm_workcell_manager)/launch/robot_arm_workcell_manager.launch">
  	<arg name="transporter_placement" value="$(arg transporter_placement)"/>
  </include>


</launch>