
<launch>
   
  <arg name="arm_ns"              default="/" />
  <arg name="robot_ip"            default="172.16.17.2"/>
  <arg name="arm_type"            default="ur10e"/>
  <arg name="dispenser_name"      default="ur10e_001"/>

  <include file="$(find ur_modern_driver)/launch/$(arg arm_type)_bringup.launch">
  	<arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  	<arg name="filters" value="pointcloud"/>
  </include>
 
  <include file="$(find robot_arm_workcell_manager)/launch/robot_arm_workcell_manager.launch">
  	<arg name="dispenser_name"   value="$(arg dispenser_name)"/>
    <arg name="arm_ns"           value="$(arg arm_ns)"/>
  </include>

  <include file="$(find robot_arm_workcell_manager)/launch/demo.launch">
  	<arg name="arm_type"                      value="$(arg arm_type)"/>
    <arg name="sim"                           value="false"/>
    <arg name="enable_fake_joints_execution"  value="false"/>
  </include>
	
  <node pkg="tf" type="static_transform_publisher" name="eef_to_camera_optical" 
    args="0.055 0.06 0.0825 0 0 0 $(arg arm_ns)/ee_link $(arg arm_ns)/camera_link_optical 10" />

</launch>
