<?xml version="1.0"?>
<launch>

  <arg name="gui" default="true" doc="Starts gazebo gui" />

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" default="$(find cssd_gazebo)/worlds/cssd_two_arms.world"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find cssd_gazebo)/models" />
    <arg name="paused" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- include our robots -->
  <include file="$(find cssd_gazebo)/launch/two_arms.launch"/>

  <!--              ************************************************************************************              -->
  <!--              ******************************** RAWM Spawner **************************************              -->
  <!--              ************************************************************************************              -->
  <!--include file="$(find robot_arm_workcell_manager)/launch/demo.launch">
    <arg name='enable_usb_cam'  value='false'/>
    <arg name="enable_fake_joints_execution" value="false"/>
    <arg name="load_robot_description" value="false"/>
  </include-->

</launch>