<launch>

  <!--              ************************************************************************************              -->
  <!--              ******************************** UR10 Gazebo Stuffs ********************************              -->
  <!--              ************************************************************************************              -->


  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" default="$(find cssd_gazebo)/worlds/cssd.world"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find cssd_gazebo)/models" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>


  <!-- send robot URDF to param server -->
  <include file="$(find cssdbot_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="transmission_hw_interface" value="hardware_interface/EffortJointInterface"/>
  </include>

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find cssdbot_description)/controller/ur_effort_controller.yaml" command="load"/>
  <node name="arm_controller_spawner"
        pkg="controller_manager"
        type="controller_manager"
        args="spawn arm_controller"
        respawn="false"
        output="screen"
  />


  <!--              ************************************************************************************              -->
  <!--              ******************************** RAWM Spawner **************************************              -->
  <!--              ************************************************************************************              -->


  <include file="$(find robot_arm_workcell_manager)/launch/demo.launch">
    <arg name='enable_usb_cam'  value='false'/>
    <arg name="enable_fake_joints_execution" value="false"/>
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot
    -J shoulder_pan_joint 0
    -J shoulder_lift_joint -2.107
    -J elbow_joint 1.795
    -J wrist_1_joint 0.354
    -J wrist_2_joint 1.571
    -J wrist_3_joint 0 -z 0 " respawn="false" output="screen" />

</launch>
