<?xml version="1.0"?>

<model>
  <name>MiRCartWithTrayPlacement</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Tan You Liang</name>
    <email>Tan You Liang</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    MiRCart with trayplacment and attached with 4 aruco markers: 100, 101, 102, 103.
  </description>
</model>

