<?xml version="1.0"?>
<launch>

  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="camera_ns" default="" />

  <param unless="$(arg limited)" name="robot_description"
  command="$(find xacro)/xacro --inorder '$(find cssdbot_description)/urdf/ur10e/ur10e_robot.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface) camera_ns:=$(arg camera_ns)" />

  <param if="$(arg limited)" name="robot_description"
  command="$(find xacro)/xacro --inorder '$(find cssdbot_description)/urdf/ur10e/ur10e_joint_limited_robot.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface) camera_ns:=$(arg camera_ns)" />

</launch>
