<?xml version="1.0"?>

<model>
  <name>MiRCartTrayPlacement</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>tan_you_liang</name>
    <email>tan_you_liang@hopetechnik.com</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    Mounting plate for the MIR Tray, plate for tray Placement
  </description>
</model>

