<launch>
    <arg name="file"  default="$(find robot_arm_workcell_manager)/config/motion_target.yaml" />
    <arg name="run" default="true" />  <!-- run the node??-->
    <group if="$(arg run)">
        <node pkg="robot_arm_workcell_manager" type="robot_arm_controller_node" name="robot_arm_workcell_manager_node" respawn="true">
            <!-- Note: param cant use ${pkg}, thus use arg to solve this prob -->
            <param name="config_yaml_path" type="string" value="$(arg file)" />
            <param name="group_name" type="string" value="manipulator" />
        </node>
    </group>

    <!-- TODO: add a ur10_launcher-->

</launch>
