<launch>

  <arg name="debug" default="false" />
  <arg name="limited" default="false"/>
  <arg name="enable_fake_joints_execution" default="false"/>
  <arg name="load_robot_description" default="true"/>



  <!--              ************************************************************************************              -->
  <!--              ******************************** Robot Arm Launcher ********************************              -->
  <!--              ************************************************************************************              -->


  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find cssdbot_moveit_config)/launch/planning_context.launch">
    <!-- <param name="use_sim_time" value="true"/>   -->
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find ur10_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="$(arg enable_fake_joints_execution)"/>
    <!-- <arg name="info" value="true"/> -->
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" value="$(arg debug)"/>
    <!-- <arg name="planner" value="stomp" /> -->
  </include>


  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find cssdbot_moveit_config)/launch/moveit_rviz.launch">
    <!-- <param name="use_sim_time" value="true"/>  -->
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>



  <!--              **********************************************************************************              -->
  <!--              ****************************** Fiducial Marker handler *****************************              -->
  <!--              ************************************************************************************              -->

  <arg name="enable_usb_cam" default="true"/>

  <include file="$(find robot_arm_workcell_manager )/launch/markers_detector.launch">
    <arg name="camSelect"      default="/dev/video1"/>
    <arg name="enable_usb_cam" value="$(arg enable_usb_cam)"/>
  </include>

</launch>
