<!--  ** Spawning Aruco Detector Node **  -->

<launch>

  <!-- Run the aruco_detect node -->
  <!-- namespace for camera input -->
  <arg name="sim" default="false"/>
  <arg name="ns" default=""/>  
  <arg name="transport" default="compressed"/>
  <arg name="markerSize"      default="0.04"/>    <!-- in m -->
  <arg name="dictionary" default="7"/>
  <arg name="do_pose_estimation" default="true"/>
  <arg name="ignore_fiducials" default="" />
  <arg name="fiducial_len_override" default="" />

  <node pkg="aruco_detect" name="aruco_detect" type="aruco_detect" respawn="false">
    <param name="image_transport" value="$(arg transport)"/>
    <param name="publish_images" value="true" />
    <param name="fiducial_len" value="$(arg markerSize)"/>
    <param name="dictionary" value="$(arg dictionary)"/>
    <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
    <param name="ignore_fiducials" value="$(arg ignore_fiducials)"/>
    <param name="fiducial_len_override" value="$(arg fiducial_len_override)"/>
    <param name="adaptiveThreshConstant" value="6"/>
    
    <remap from="/camera/compressed" to="$(arg ns)/image/$(arg transport)"/> 
    <remap from="/camera_info" to="$(arg ns)/camera_info"/> 

    <remap from="/fiducial_images" to="fiducial_images"/>
    <remap from="/fiducial_transforms" to="fiducial_transforms"/>
    <remap from="/fiducial_vertices" to="fiducial_vertices"/>
  </node>

</launch>
