<launch>

    <arg name="debug" default="false" />
    <arg name="limited" default="false"/>
    <arg name="load_robot_description" default="true"/>
    <arg name="sim" default="true"/>
  
    <!--              ************************************************************************************              -->
    <!--              ******************************** Robot Arm Launcher ********************************              -->
    <!--              ************************************************************************************              -->
    
    <!-- UR10 -->
    <group ns="arm1">
        <include file="$(find cssdbot_ur10_moveit_config)/launch/hardware_minimal.launch">
            <arg name="sim" value="$(arg sim)"/>
            <arg name="fake_execution" value="false" />
        </include> 
    </group>
  
    <!-- UR10e -->
    <group ns="arm2">
        <include file="$(find cssdbot_ur10e_moveit_config)/launch/hardware_minimal.launch">
            <arg name="sim" value="$(arg sim)"/>
            <arg name="fake_execution" value="false" />
        </include> 
    </group>
  
  
    <!--              **********************************************************************************              -->
    <!--              ****************************** Fiducial Marker handler *****************************              -->
    <!--              ************************************************************************************              -->
  
    <!--arg name="enable_usb_cam" default="true"/>
  
    <include file="$(find robot_arm_workcell_manager )/launch/markers_detector.launch">
      <arg name="camSelect"      default="/dev/video1"/>
      <arg name="enable_usb_cam" value="$(arg enable_usb_cam)"/>
    </include-->
  
  </launch>
  