<launch>
    <arg name="arm_1_model" default="ur10"/>
    <arg name="arm_2_model" default="ur10e"/>
    <arg name="arm_1_ns" default="/arm1"/>
    <arg name="arm_2_ns" default="/arm2"/>

    <!-- Dearly Arm 1 -->
    <include file="$(find robot_arm_workcell_manager)/launch/demo.launch">
        <arg name="arm_ns"          value="$(arg arm_1_ns)"/>
        <arg name="arm_type"        value="$(arg arm_1_model)"/>
    </include>
  
    <!-- Dearly Arm 2 -->
    <include file="$(find robot_arm_workcell_manager)/launch/demo.launch">
        <arg name="arm_ns"          value="$(arg arm_2_ns)"/>
        <arg name="arm_type"        value="$(arg arm_2_model)"/>
    </include>

    <!-- Dearly Arm n.... -->

  </launch>
