<launch>
  
    <!--              ************************************************************************************              -->
    <!--              ******************************** Robot Arm Launcher ********************************              -->
    <!--              ************************************************************************************              -->
    
    <!-- UR10 -->
    <group ns="arm1">
        <include file="$(find robot_arm_workcell_manager)/launch/robot_arm_workcell_manager.launch">
        </include> 
    </group>
  
    <!-- UR10e -->
    <group ns="arm2">
        <include file="$(find robot_arm_workcell_manager)/launch/robot_arm_workcell_manager.launch">
        </include> 
    </group>
  
  
    <!--              **********************************************************************************              -->
    <!--              ****************************** Fiducial Marker handler *****************************              -->
    <!--              ************************************************************************************              -->
  
    <!--arg name="enable_usb_cam" default="true"/>
  
    <include file="$(find robot_arm_workcell_manager )/launch/markers_detector.launch">
      <arg name="camSelect"      default="/dev/video1"/>
      <arg name="enable_usb_cam" value="$(arg enable_usb_cam)"/>
    </include-->
  
  </launch>
  