<?xml version="1.0"?>

<model>
  <name>CSSD Tray</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Malcom Neo</name>
    <email>Malcom.neo@hopetechnik.com</email>
  </author>

  <depend>
    <model>
      <uri>model://suv</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    CSSD Tray
  </description>
</model>

