<!--              ************************************************************************************              -->
<!--              ****************************** Fiducial Marker handler Node ************************              -->
<!--              ************************************************************************************              -->

<!-- roslaunch robot_arm_workcell_manager markers_detector.launch -->
<!-- rosrun robot_arm_workcell_manager fiducial_markers_handler_node _camera_frame_id:="camera" _marker_tf_path:="/home/youliang/catkin_ws/src/robot_arm_workcell_manager/config/markers_tf.yaml" -->

<launch>

    <arg name="enable_usb_cam" default="true"/>
    <arg name="run_fiducial_markers_handler_node" default="true"/>
    <arg name="markers_config_file"  default="$(find robot_arm_workcell_manager)/config/markers_tf.yaml" />

    <arg name="camera_frame_id" value="camera" />
    <arg name="marker_tf_path" value="$(arg markers_config_file)"/>
    <arg name="camSelect"       default="/dev/video0"/>
    <arg name="pixelFormat"     default="yuyv"/>    <!-- refer to usb_cam ros documentation -->
    <arg name="cameraConfig"    default="file://$(find robot_arm_workcell_manager)/config/usb_cam.yaml"/>

    
    <group if="$(arg run_fiducial_markers_handler_node)">
        <node pkg="robot_arm_workcell_manager" name="fiducial_markers_handler_node" type="fiducial_markers_handler_node" output="screen" respawn="false">
        </node>
    </group>

    <include file="$(find robot_arm_workcell_manager )/launch/markers_detector.launch"></include>

    <group if="$(arg enable_usb_cam)">
        <node pkg="usb_cam" type="usb_cam_node" name="usb_camera">
          <remap from="/usb_camera/camera_info"  to="/camera_info"/>
          <remap from="/usb_camera/image_raw"  to="/image" />   
          <param name="camera_frame_id"     value="$(arg camera_frame_id)"/>
          <param name="video_device"        value="$(arg camSelect)"/>
          <param name="pixel_format"        value="$(arg pixelFormat)"/>
          <param name="camera_info_url" type="string" value="$(arg cameraConfig)" />
        </node>
    </group>

</launch>
